.location {

    &__container {
        display: flex;
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 20px;
        width: 40%;
    }

    &__info {
        margin-right: 20px;
    }

    &__data {
        margin-bottom: 15px;
    }

    &__link {
        text-decoration: none;
        display: block;
        color: black;
        margin-bottom: 10px;
        transition: color 0.3s;
    }

    &__link:hover {
        color:#f6b93b;
    }
}